<!DOCTYPE html>

<html>

<head>
  <% include head.ejs %>
  <title>arun's website</title>
  <link rel='stylesheet' href='/stylesheets/cover.css'>
  <link rel='stylesheet' href='/stylesheets/animate.css'>
  
</head>

<body class="text-center bg1" style="display:none; overflow:hidden">
  

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">

    </header>

    <main role="main" class="inner cover">
      <h1 id='name'class="animated cover-heading cursive-font" style="visibility:hidden">arun aruljothi</h1>
      <div id='divider' class="animated fadeInLeft dropdown-divider" style=' margin-bottom:1rem;'></div>
      <div id='secondInfo' class="animated" style="visibility:hidden">
        <h4 style="margin-bottom:1.5rem;">Graduate Student</h4>
        <p class='plinks lead d-none d-md-block d-xl-block'>
          <a href='/p/exp?pos=rnc'>Robotics and Control</a> | 
          <a href='/p/exp?pos=ml'>Machine Learning</a> |  
          <a href="/p/exp?pos=cv">Computer Vision</a></p>
        <p class='plinks lead d-block d-md-none'>
          <a href='/p/exp?pos=rnc'>Robotics and Control</a> | 
          <a href='/p/exp?pos=ml'>Machine Learning</a> <br/>
          <a href="/p/exp?pos=cv">Computer Vision</a></p>
        <p class="lead" style="margin-top:1rem">
          <a href="/p/me" class="font-weight-light btn btn-lg btn-secondary">Check out one of the topics above or <br/>
            click here to see more</a>
        </p>
      </div>
    </main>

    <footer class="mastfoot mt-auto animated fadeInLeft">
      <div class="inner">
          <p class='font-weight-light' style='color:white'><i>'Look deep into nature, and then you will understand everything better.' —<strong>Albert Einstein</strong></i></p>
        <!-- <p style='color:white'>website repo @ 
          <a href="https://github.com/aaruljothi/website">github</a></p> -->
      </div>
    </footer>
  </div>



  <!-- TODO: FOOTER  -->
</body>
<script src='/javascripts/cover.js'></script>
<% include tail.ejs %>

</html>