<!DOCTYPE html>

<html>

<head>
  <% include head.ejs %>
  <title>arun's website</title>
  <link rel='stylesheet' href='/stylesheets/cover.css'>
  <link rel='stylesheet' href='/stylesheets/animate.css'>
  
</head>

<body class="text-center bg1" style="display:none; overflow:hidden">
  

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">

    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading animated bounceInDown cursive-font">arun aruljothi</h1>
      <div class="dropdown-divider" style='margin-top:1rem; margin-bottom:1rem;'></div>
      <div class = 'animated bounceInUp' id='secondInfo'>
        <h4 >Graduate Student</h4>
        <p class='plinks lead'>
          <a href=/exp?p=rnc>Robotics and Control</a> | 
          <a href='/exp?p=ml'>Machine Learning </a> | 
          <a href="/exp?p=cv">Computer Vision</a></p>
        <p class="lead" style="margin-top:1rem">
          <a href="/" class="btn btn-lg btn-secondary">Check out one of the topics above or <br/>
            click here to see more</a>
        </p>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p style='color:white'>website repo @ 
          <a href="https://github.com/aaruljothi/website">github</a></p>
      </div>
    </footer>
  </div>



  <!-- TODO: FOOTER  -->
</body>
<script src='/javascripts/cover.js'></script>
<% include tail.ejs %>

</html>