<div class='rounded animated slideInUp container singlePage scheme1 shadow-effects' id='exp' style="display:none;">
  <div class="row">
    <div class="col-3">
      <div class="col-12 sideBar" id="sticky-sidebar">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a id='rnc' class="side-bar fix-color nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Robotics & Control</a>
          <a id='ml' class="side-bar fix-color nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
            aria-controls="v-pills-profile" aria-selected="false">Machine Learning</a>
          <a id='cv' class="side-bar fix-color nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
            aria-controls="v-pills-messages" aria-selected="false">Computer Vision</a>
        </div>
      </div>
    </div>
    <div class="col-9 onbg" id="mainProject" style='border-left: 1px solid rgb(255, 255, 255);'>
      <!-- <h3>THE PROBELM</h3> -->
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h3>Classes</h3>
          <p>The foundation for experience in robotics and control comes from the classes I have taken at Stevens. The classes
            I have taken are listed below:
            <ul>
              <li>Controls
                <span class="font-weight-light">(Undergrad.)</span>
              </li>
              <li>Modern Control Eng.
                <span class="font-weight-light">(Grad.)</span>
              </li>
              <ul>
                <li class="font-weight-light">State space design</li>
                <li class="font-weight-light">Linear control theories</li>
              </ul>
              <li>Advaced Robotics & Control
                <span class="font-weight-light">(Grad)</span>
              </li>
              <ul>
                <li class="font-weight-light">Adaptive Frequency Oscilators</li>
                <li class="font-weight-light">State Observators</li>
                <li class="font-weight-light">Force & Torque based control</li>
              </ul>
            </ul>
          </p>
          <h3>NASA - AFRC</h3>
          <p>My fourth internship provided me with significant learning experience on mobile robots. The internship was at NASA
            AFRC (Armstrong Flight Research Center). The internship involved drone flight management. The primary goal was
            to resolve drone conflicts with general aviation aircraft by relying on gps location tracking.
          </p>
          <h3>Reliabotics</h3>
          <p>My most recent internship experience focused on industrial robotic integration. I learned about robotic arms and
            assisted in devloping a pick and place program used with the Epson G6 SCARA. This internship provided me with
            valiable expierence on PLC and industrial safety programming.
          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h3>Classes</h3>
          <p>A grad. course in machine learning serves as the basis for my experience in this field. The class primarily taught
            me to use machine learing to solve a variety of problems. The solutions we learned to use were: </p>
          <ul>
            <li>Polynomial Fitting</li>
            <li>inear Regression</li>
            <ul>
              <li>Gradient Descent</li>
            </ul>
            <li>Logarithmic Regression</li>
          </ul>
          <h3>Senior Design</h3>
          <p>My senior design project involved building a model from some data. The model was build using
            <strong>Multivariate Logistic Regression</strong>
          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      </div>
    </div>
  </div>




</div>