<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <title>arun's website</title>
    <link rel='stylesheet' href='/stylesheets/site.css' />
</head>

<body>
  <div class="container" style="margin-bottom:1rem">
    <% include navbar.ejs %>
  </div>
  
  <% include me.ejs %>
  <% include edu.ejs %>
  <% include exp.ejs %>
  <% include proj.ejs %>

</body>
<% include tail.ejs %>
<script src='/javascripts/site.js'></script>

</html>