<div class='container animated slideInUp singlePage' id='me' style="display:none">
  <div class="card scheme1 mx-auto shadow-effects" style="width:70%">
    <div class='text-center'>
        <img class="animated rounded shadow-effects" src="/images/arun.jpg" style="margin-top:.5rem;">
    </div>
    <div class="card-body">
      <p class="card-text">
        I am an engineering student focusing on robotics. I am graduating this semester with an undergraduate degree in Mechanical
        Engineering, and a minor in Computer Science. I am on track to graduate with a Masters in Robotics and Control in
        fall of 2018. I am excited to learn new technologies, and am a quick learner. My current research focus is on machine
        learning and big data analysis. One of my core classes for this semester is computer vision. I have previous intern
        experience in risk and reliability analysis, mobile robotics (drone management), and industrial robotic integration.
        </p>
    </div>
    <div class="card-footer scheme2 text-muted">
      <a href="https://www.linkedin.com/in/arunaruljothi/" class="out btn btn-secondary animated">Linked In</a>
      <a href="https://github.com/aaruljothi" class="out btn btn-secondary float-right animated">Github</a>
    </div>
  </div>
</div>