<nav class="animated bounceInDown navbar shadow-effects rounded-bottom navbar-expand-lg navbar-dark">
  <a class="navbar-brand cursive-font show-mobile" style="display:none" href="/p/me">arun aruljothi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link " href="/p/me" style="margin-top:.5rem"><b>About Me</b></a>
      <a class="nav-item nav-link " href="/p/edu" style="margin-top:.5rem"><b>My Education</b></a>
      <a class="navbar-brand cursive-font show-desktop" href="/p/me" style="display:none;margin-left:1.5rem;margin-right:1.5rem;">arun aruljothi</a>
      <a class="nav-item nav-link " href="/p/exp" style="margin-top:.5rem"><b>My Experience</b></a>
      <a class="nav-item nav-link " href="/p/proj" style="margin-top:.5rem"><b>My Projects</b></a>
    </div>
  </div>
</nav>