<nav class="navbar shadow-effects rounded-bottom navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand cursive-font" href="/p/me">arun aruljothi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="/p/me"><b>About Me</b></a>
      <a class="nav-item nav-link " href="/p/edu"><b>My Education</b></a>
      <a class="nav-item nav-link " href="/p/exp"><b>My Experience</b></a>
      <a class="nav-item nav-link " href="/p/proj"><b>My Projects</b></a>
    </div>
  </div>
</nav>