:root{
    /* --accent1: #61892F;
    --text1: #86C232;
    --text2: #ffffff;
    --background-1: #222629;
    --background-2: #474B4f;
    --background-3: #6B6E70;
    --background-4: #ffffff; */

    --accent1: #5CDB95; 
    --text1: #05386B;
    --text2: #ffffff;
    --background-1: #5CDB95;
    --background-2: #8EE4AF;
    --background-3: #379683;
    --background-4: #05386B;
  }

 html,
body {
    /* overflow: auto; */
    background-color:var(--background-4);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    width: auto;
    margin:0;
    padding:0;
}
h1,
h2,
h3{
    font-family: 'Nanum Myeongjo', serif;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
}
p li{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

 /* .bg-img {
    background-image: url('/images/man.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
} */

body:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('/images/man.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
     filter: blur(5px);
}

/* .content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
}  */

.navbar{
    background-color: var(--background-1);
}

.nav-item{
    color: var(--text1) !important;
}

.nav-item.active{
    color: var(--text2) !important;
}

.scheme1{
    background-color: var(--background-4);
    color: var(--text2);
}

.scheme2{
    background-color: var(--background-3);
    color: var(--text2);
}

.scheme3{
    background-color: transparent !important;
    color: var(--background-1);
}

/* Links */
a{
    color: var(--text1) ;
}
a:focus,
a:hover {
    color: var(--text2);
}


.singlePage .cont2 a{
    color: var(--background-1) !important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
    color: var(--background-2);
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: Transparent;
    border-radius: 50px;
    border: .05rem solid var(--background-2);
}

.btn-secondary:hover,
.btn-secondary:active {
    color: var(--text2) !important;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color:  transparent;
    border: .05rem solid var(--text2);
}

@media (max-width:991px) {
    .show-mobile {
        display:block !important;
    }
}

@media (min-width:991px) {
    .show-desktop{
        display:block !important;
    }
}

.singlePage{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.fix-color{
    background-color: transparent;
    color: var(--background-1);
}

a.side-bar:hover,
a.side-bar.active{
    color: var(--text2);
    background-color:transparent !important;
}

.cursive-font{
  font: 400 100px/1.3 'Kaushan Script', cursive;
  font-size: 2rem;
  color: var(--text1) !important;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}


.shadow-effects {
    -webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.47)
}
